h1 {
	color: #93006a;
}

.main-container {
	padding: 3rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 90vh;
}

.img-container {
	width: 100%;
	max-width: 700px;
}

.img-container picture {
	width: 100%;
}

.img-container picture img {
	width: 100%;
	object-fit: contain;
}

.info {
	color: #213947;
	font-size: larger;
}